__pycache__/
*.pyc
dss_2.0/
.env
.vscode/
frontend.zip/
frontend/solar_tiles/
frontend/wind_tiles/
backend/data/rasters/
backend/data/optimized_rasters
backend/app/__pycache__
frontend/resources
# Local Netlify folder
.netlify
